<link rel="import" href="../../../bower_components/polymer/polymer-element.html">


<dom-module id="emisor-cuenta-app">
  <template >
    <style>
      :host {
        display: block;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!-- <input class="form-check-input" type="radio" name="exampleRadios"  onchange="sendEvent" value={{IBAN}}>-->
      <button on-click="sendEvent" value={{IBAN}}>No Pulsar</button>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorCuenta extends Polymer.Element {
      static get is() { return 'emisor-cuenta-app'; }
      static get properties() {
        return {
          IBAN:{
            type : String
          }
        };
      }
      sendEvent(e){
          console.log("Se ha pulsado el botón");
          console.log(e);
          this.dispatchEvent(
            new CustomEvent("sendaccount",
              {
                "detail":{
                    "IBAN" : this.IBAN
                }
      }
    )
  );
}


    }

    window.customElements.define(EmisorCuenta.is, EmisorCuenta);
  </script>
</dom-module>
