<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta-app">
  <template >
    <style>
      :host {
        display: block;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <iron-ajax
      auto
      id="getAccount"
      url="http://localhost:3000/practitioner/v1/account/{{userid}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
      <template is="dom-repeat" items="{{account}}">

      <div class=container>
        <div class="row">
          <div class="Col-1 offset-1 "> <emisor-cuenta-app on-sendaccount="{{item.IBAN}}">{{item.IBAN}}</emisor-cuenta-app></div>
          <div class="Col-2 offset-1 ">Balance {{item.balance}}</div>
        </div>
      </div>
      </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccount extends Polymer.Element {
      static get is() { return 'visor-cuenta-app'; }
      static get properties() {
        return {
        userid :{
          type: Number
        }
          ,account: {
              type: Array
            }

        };
      }
      processEvent(e){
              console.log("Capturado el evento");
              console.log(e);
            }
      showData(data){
        console.log("showData");

      /*  this.iban = account[0].IBAN;
        this.balance = account[0].balance;*/
        this.account = data.detail.response;

      }
    }

    window.customElements.define(VisorAccount.is, VisorAccount);
  </script>
</dom-module>
