<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="header-app">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container-fluid my-1 "><a class="navbar-brand mr-auto mr-lg-0" href="#">TechUBank</a></div>
      <div class="my-2" hidden$="{{hide}}"></div>
      <div class="my-2"><a  href="#">Login</a></div>
    </nav>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HeaderApp extends Polymer.Element {
      static get is() { return 'header-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-app'
          }
        };
      }
    }

    window.customElements.define(HeaderApp.is, HeaderApp);
  </script>
</dom-module>
