<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="login-usuario-app">
  <template>
    <style>
      :host {
        display: block;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <input class="col-2 offset-1" placeholder="email" type="email" value="{{email::input}}"></input>
  </br>
    <input class="col-2 offset-1" placeholder="password" type="password" value="{{password::input}}"></input>
  </br>
    <button class="col-2 offset-1 btn btn-info" on-click="login">Login</button>
  </br>
    <span class="Col-2  " hidden="{{!isLogged}}">Hola user</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/practitioner/v1/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario-app'; }
      static get properties() {
        return {
            email: {
            type: String
          }, password: {
            type: String
          },isLogged:{
            type: Boolean,
            value:false
          }
        };
      }
      manageAJAXResponse(data){
          console.log("Resultados OK");
          console.log(data.detail.response);
          console.log("showData");
  this.isLogged = true;
/*  window.location = "user/" + data.detail.response.idUsuario*/

      }

      login(){
        console.log("Click");
        console.log("enviamos peti");
        var loginData={
          "email" : this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log ("Petición enviada");

      }

      showError(error){
        console.log("PHubo un error");
        console.log(error);

      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
