<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="/src/elements.html">
<dom-module id="visor-movimiento-app">
  <template >
    <style>
      :host {
        display: block;

      }
      .PAGO{
       color: red;

       overflow: hidden;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <iron-ajax
      auto
      id="getMovement"
      url="http://localhost:3000/practitioner/v1/movement/ES 5T ZLWI L73X 9ZUC 42SH"
      handle-as="json"
      content-type="application/json"
      on-error="showError"
      on-response="showData"
      loading="{{cargando}}">
    </iron-ajax>
      <div class="my-5 p-5 bg-white rounded shadow-lg container">
        <div class ="my-3 p-3 bg-white rounded shadow-lg">
          <visor-cuenta-app userid="43"></visor-cuenta-app>
        </div>
        <vaadin-grid items="{{movement}}" page-size="100" hidden="[[cargando]]" >
          <vaadin-grid-column>
                <template class="header">
                  <vaadin-grid-sorter path="cdate">Fecha</vaadin-grid-sorter>
                </template>
                <template><div class$="{{item.topt}}">[[item.cdate]]</div></template>

          </vaadin-grid-column>
          <vaadin-grid-column>
                <template class="header">
                  <vaadin-grid-sorter path="topt">Tipo Movimiento</vaadin-grid-sorter>
                </template>
                <template><div class$="{{item.topt}}">[[item.topt]]</div></template>

          </vaadin-grid-column>
          <vaadin-grid-column>
                <template class="header">Importe</template>
                <template >
                  <div class$="{{item.topt}}">[[item.amount]]</div>
                </template>

          </vaadin-grid-column>
          <vaadin-grid-column>
                <template class="header">Concepto</template>
                <template><div class$="{{item.topt}}">[[item.concept]]</div></template>

          </vaadin-grid-column>
      </vaadin-grid>
      <div class="d-flex justify-content-center" >
      <div class="spinner-border text-info" role="status" hidden="[[!cargando]]">
    </div>
  </div>
</diV>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovement extends Polymer.Element {
      static get is() { return 'visor-movimiento-app'; }
      static get properties() {

        return {
        movement: {
              type: Array
            },
            account:{
              type:String
            }


        };
      }

      showData(data){
        console.log("showData"+ data.detail.response);


        this.movement = data.detail.response;
        this.account = this.movement[0].IBAN;

      }

    showMovement(){
      console.log("Click");
      console.log("enviamos peti");

      this.$.getMovement.generateRequest();
      console.log ("Petición enviada");

    }
  }
    window.customElements.define(VisorMovement.is, VisorMovement);
  </script>
</dom-module>
